<!DOCTYPE html>
<html>
<header>	
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='search.css')}}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<!--<script src="{{url_for('static',filename='search_flask.js')}}"></script>-->

<script>
	function createQueryStr(){
		var profStr = "";
		var deptStr = "";
		var dayStr = "";
		var timeStr = "";
		var distStr = "";
		var semStr = "";
		
		var checkedBoxes = document.getElementsByClassName("test");
		var i;
		for(i = 0; i < checkedBoxes.length; i++){
			var curElem = checkedBoxes[i];
			if (curElem.checked){
				if (curElem.id == "prof_check"){
					var replacemt;
					if(profStr != ""){
						replacemt = profStr.concat(" or ", curElem.value);
					}
					else{
						replacemt = profStr.concat(curElem.value);
						
					}
					profStr = replacemt;
				}
				if (curElem.id == "dept_check"){
					var replacemt;
					if(deptStr != ""){
						replacemt = deptStr.concat(" or ", curElem.value);
					}
					else{
						replacemt = deptStr.concat(curElem.value);
						
					}
					deptStr = replacemt;
				}
				if (curElem.id == "day_check"){
					var replacemt;
					if(dayStr != ""){
						replacemt = dayStr.concat(" or ", curElem.value);
					}
					else{
						replacemt = dayStr.concat(curElem.value);
						
					}
					dayStr = replacemt;
				}
				if (curElem.id == "time_check"){
					var replacemt;
					if(timeStr != ""){
						replacemt = timeStr.concat(" or ", curElem.value);
					}
					else{
						replacemt = timeStr.concat(curElem.value);
						
					}
					timeStr = replacemt;
				}
				if (curElem.id == "dist_req_check"){
					var replacemt;
					if(distStr != ""){
						replacemt = distStr.concat(" or ", curElem.value);
					}
					else{
						replacemt = distStr.concat(curElem.value);
						
					}
					distStr = replacemt;
				}
			}
		}
			
		var semDropdown = document.getElementById("year_dropdwn");
		var semChoices = semDropdown.options;
		var semAns = semChoices[semDropdown.selectedIndex];
		var replacemt;
		replacemt = semStr.concat(semAns.value);
		semStr = replacemt;
		
		document.getElementById("distri").value = distStr; 
		document.getElementById("dep").value = deptStr;
		document.getElementById("prof_form").value = profStr;
		document.getElementById("days").value = dayStr;
		document.getElementById("times").value = timeStr;
		document.getElementById("period").value = semStr;
	}
	
	$(document).ready(function(){
  $("#hideme").click(function(){
    $(".novisit").toggle();
  });
  
  /*$("#prof").click(function(){
    $("#prof_list").toggle();
    $("#down_arrow_prof").toggle();
    $("#side_arrow_prof").toggle();
  });*/
  
  /*$("#dept").click(function(){
    $("#dept_list").toggle();
    $("#down_arrow_dept").toggle();
    $("#side_arrow_dept").toggle();
  });*/
  
  $("#class_size").click(function(){
    $("#class_size_list").toggle();
    $("#down_arrow_class_size").toggle();
    $("#side_arrow_class_size").toggle();
  });
  
  $("#time").click(function(){
    $("#time_list").toggle();
    $("#morn_aft").toggle();
    $("#down_arrow_time").toggle();
    $("#side_arrow_time").toggle();
  });
  
  $("#year").click(function(){
    $("#year_dropdwn").toggle();
    $("#down_arrow_year").toggle();
    $("#side_arrow_year").toggle();
  });
  
  $("#day").click(function(){
    $("#day_list").toggle();
    $("#down_arrow_day").toggle();
    $("#side_arrow_day").toggle();
  });
  
  $("#dist_req").click(function(){
    $("#dist_req_list").toggle();
    $("#down_arrow_dist_req").toggle();
    $("#side_arrow_dist_req").toggle();
  });
  
  var mornClassOn = false;
  $("#morn_classes").click(
  	function(){
	 	var checkBoxes = $(".morn");
     	checkBoxes.prop("checked", !mornClassOn);
     	mornClassOn = !mornClassOn;
	});
	
	var aftClassOn = false;
	$("#aft_classes").click(function(){
	  var checkBoxes = $(".aft");
      checkBoxes.prop("checked", !aftClassOn);
      aftClassOn = !aftClassOn;
	}); 
});
		
	var profs = ["Bivens I", "Chartier T", "Davis S", "Heyer L", "Keough L", "Molinek D", "Mossinghoff M", "Neidinger R", "Peck T", "Ramanujan R", "Thompson K", "Yerger C"];
	
	var profStat = ["none", "block", "none", "none"]; /*prof_list, side_arrow, down_arrow, prof_search*/
	
	function generateProfs(){
		
		/*var i;
		for (i = 0; i < profs.length; i++){
			var curElem = document.createElement("LI");
			curElem.className = "prof_li";
			
			var curInput = document.createElement("INPUT");
			curInput.setAttribute("type","checkbox");
			curInput.className = "test";
			curInput.id = "prof_check";
			curInput.value = profs[i];
			
			var curText = document.createTextNode(profs[i]);
			curElem.appendChild(curText);
			curElem.appendChild(curInput);
			document.getElementById("prof_list").appendChild(curElem);	
		}*/
		
		var i;
		for (i = 0; i < profStat.length; i++){
			
			if (profStat[i] == "none"){
				profStat[i] = "block";		
			}
			else{
				profStat[i] = "none";	
			}
		}
		
		document.getElementById("prof_list").style.display = profStat[0];
		document.getElementById("side_arrow_prof").style.display = profStat[1];
		document.getElementById("down_arrow_prof").style.display = profStat[2];	
		document.getElementById("prof_search").style.display = profStat[3];		
	}

	var depts = ["AFR", "ANT", "ARB", "ART", "BIO", "CHE", "CHI", "CIS", "CLA", "COM", "CSC", "DAN", "DIG", "ECO", "EDU", "ENG", "ENV", "ETH", "FMS", "FRE", "GER", "GRE", "GSS", "HIS", "HUM", "LAS", "LAT", "LIT", "MAT", "MHU", "MIL", "MUS", "PED", "PHI", "PHY", "POL", "PSY", "REL", "RUS", "SIL", "SOC", "SOU", "SPA", "THE", "WRI"];
	
	var deptsFull = ["Africana Studies", "Anthropology", "Arab Studies", "Art", "Biology", "Chemistry", "Chinese Studies", "Center for Interdisciplinary Studies", "Classical Civilization", "Communication Studies", "Computer Science", "Dance", "Digital Studies", "Economics", "Educational Studies", "English", "Environmental Studies", "Ethics", "Film & Media Studies", "French & Francophone Studies", "German Studies", "Greek", "Gender & Sexuality Studies", "History", "Humanities", "Latin American Studies", "Latin", "??", "Mathematics", "??", "Military Studies", "Music", "Physical Education", "Philosophy", "Physics", "Political Science", "Psychology", "Religion", "Russian Studies", "Self-Instructional Languages", "Sociology", "South Asian Studies", "Spanish", "Theatre", "Writing"]
	
	var deptStat = ["none", "block", "none"]; /*dept_list, side_arrow, down_arrow */
	
	var firstClick = true;
	
	function generateDepts(){
		
	/*MODEL*/
	/*<li class="dept_li"><input type="checkbox" id="dept_check" class="test" 	
	value="afr"><a href="" title="Africana Studies" class="dept_text">AFR</a></li>*/
	
		if (firstClick){
			var i;
			var curCol;
		
			var col1 = document.getElementById("first_col");
			var col2 = document.getElementById("sec_col");
			var col3 = document.getElementById("third_col");
		
			for (i = 0; i < depts.length; i++){
				if (i === 0){
					curCol = col1;	
				}
				if (i == 15){
					curCol = col2;	
				}
				if (i == 30){
					curCol = col3;	
				}
			
				var curElem = document.createElement("LI");
				curElem.className = "dept_li";
			
				var curInput = document.createElement("INPUT");
				curInput.setAttribute("type","checkbox");
				curInput.className = "test";
				curInput.id = "dept_check";
				curInput.value = depts[i];
			
				var curA = document.createElement("a");
				curA.href = "";
				curA.title = deptsFull[i];
				curA.className = "dept_text";
			
				var curText = document.createTextNode(depts[i]);
				curElem.appendChild(curInput);
				curA.appendChild(curText);
				curElem.appendChild(curA);
				curCol.appendChild(curElem);
			}
		}
		firstClick = false;
		
		/*Shows or hides the list*/
		var i;
		for (i = 0; i < deptStat.length; i++){
			
			if (deptStat[i] == "none"){
				deptStat[i] = "block";		
			}
			else{
				deptStat[i] = "none";	
			}
		}
		
		document.getElementById("dept_list").style.display = deptStat[0];
		document.getElementById("side_arrow_dept").style.display = deptStat[1];
		document.getElementById("down_arrow_dept").style.display = deptStat[2];			
	}

</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Search Page</title>
</header>
<body>
  
  <a href="syllabi_manager.php" id="login">Are you an administrator? Login Here</a>
  
  <div id="filter">
  <form action={{url_for("process_form")}} method="post">
  <input type="checkbox" name="visitable" id="hideme" >Classes that welcome visitors<br> 
	<p id="year">Semester<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" class="down_arrow" id="down_arrow_year"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png" class="side_arrow" id="side_arrow_year"></p>
    <select name="years" id="year_dropdwn">
  		<option value="201602" idclass="year_li">Spring 2016</option>
  		<option value="201601" id="sem_check" class="year_li">Fall 2016</option>
  		<option value="201502" id="sem_check" class="year_li" selected>Spring 2015</option>
  		<option value="201501" id="sem_check" class="year_li">Fall 2015</option>
  		<option value="201402" id="sem_check" class="year_li">Spring 2014</option>
  		<option value="201401" id="sem_check" class="year_li">Fall 2014</option>
  		<option value="201302" id="sem_check" class="year_li">Spring 2013</option>
  		<option value="201301" id="sem_check" class="year_li">Fall 2013</option>
  		<option value="201202" id="sem_check" class="year_li">Spring 2012</option>
  		<option value="201201" id="sem_check" class="year_li">Fall 2012</option>
  		<option value="201102" id="sem_check" class="year_li">Spring 2011</option>
  		<option value="201101" id="sem_check" class="year_li">Fall 2011</option>
  		<option value="201002" id="sem_check" class="year_li">Spring 2010</option>
  		<option value="201001" id="sem_check" class="year_li">Fall 2010</option>
  		<option value="200902" id="sem_check" class="year_li">Spring 2009</option>
  		<option value="200901" id="sem_check" class="year_li">Fall 2009</option>
	</select>

    <div><p id="prof" onclick="generateProfs()">Professors<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" class="down_arrow" id="down_arrow_prof"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png" class="side_arrow" id="side_arrow_prof"></p>
	<input type="search" name="prof_search" results=5 id="prof_search" placeholder="Search for a professor"/>
	</div>
    <ul id="prof_list">	
	    {% for i in uploads %}
    	<li class="prof_li"><input type="checkbox" class="test" id="prof_check" value="">{{i}}</li>
    	{% endfor %}
    </ul>
    
    <p id="dept" onclick="generateDepts()">Department<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" class="down_arrow" id="down_arrow_dept"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png" class="side_arrow" id="side_arrow_dept"></p>
	    <table id="dept_list">
		    <tr>
			    <td>    
    				<ul id="first_col"></ul>
    			</td>
    			<td>    
    				<ul id="sec_col"></ul>
    			</td>
    			<td>    
    				<ul id="third_col"></ul>
    			</td>
    		</tr>
    	</table>
    
    <p id="day">Day<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" class="down_arrow" id="down_arrow_day"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png" class="side_arrow" id="side_arrow_day"></p>
    <div id="day_list">
      <p class="day_li"><input type="checkbox" id="day_check" class="test" value="mwf">MWF</p>
      <p class="day_li"><input type="checkbox" id="day_check" class="test" value="tr">TR</p>
    </div>
    
    <p id="time">Time<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" class="down_arrow" id="down_arrow_time"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png" class="side_arrow" id="side_arrow_time"></p>
	<div id="morn_aft">
	<input type="checkbox" id="morn_classes">Morning
	<input type="checkbox" id="aft_classes">Afternoon
	</div>
	<table id="time_list">
		<tr>
			<td>
    		<ul id="time_list_MWF">
      			<li class="time_li"><input type="checkbox" id="time_check" class="morn test" value="0830">8:30am</li>
      			<li class="time_li"><input type="checkbox" id="time_check" class="morn test" value="0930">9:30am</li>
      			<li class="time_li"><input type="checkbox" id="time_check" class="morn test" value="1030">10:30am</li>
      			<li class="time_li"><input type="checkbox" id="time_check" class="morn test" value="1130">11:30am</li>
	  			<li class="time_li"><input type="checkbox" id="time_check" class="aft test" value="1230">12:30pm</li>
				<li class="time_li"><input type="checkbox" id="time_check" class="aft test" value="0130">1:30pm</li>
				<li class="time_li"><input type="checkbox" id="time_check" class="aft test" value="0230">2:30pm</li>
				<li class="time_li"><input type="checkbox" id="time_check" class="aft test" value="0330">3:30pm</li>
    		</ul>
    		</td>
	    	<td>
    		<ul id="time_list_TR">
	 			<li class="time_li"><input type="checkbox" id="time_check" class="morn test" value="0815">8:15am</li>
      			<li class="time_li"><input type="checkbox" id="time_check" class="morn test" value="0940">9:40am</li>
      			<li class="time_li"><input type="checkbox" id="time_check" class="aft test" value="1215">12:15pm</li>
      			<li class="time_li"><input type="checkbox" id="time_check" class="aft test" value="0140">1:40pm</li>
	  			<li class="time_li"><input type="checkbox" id="time_check" class="aft test" value="0315">3:15pm</li>
				</ul>
			</td>
		</tr>
	</table>
    
    <p id="dist_req">Distribution Requirements<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" class="down_arrow" id="down_arrow_dist_req"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png" class="side_arrow" id="side_arrow_dist_req"></p>
    <table id="dist_req_list">
	    <td>
		    <input type="checkbox" value="HTRQ" id="dist_req_check" class="dist_req_li test"><a href="" title="Historical Thought" class="dist_req_text">HTRQ</a><br>
			<input type="checkbox" value="LBRQ" id="dist_req_check" class="dist_req_li test"><a href="" title="Liberal Studies" class="dist_req_text">LBRQ</a><br>
			<input type="checkbox" value="LTRQ" id="dist_req_check" class="dist_req_li test"><a href="" title="Literary Studies, Creative Writing, and Rhetoric" class="dist_req_text">LTRQ</a><br>
			<input type="checkbox" value="MQRQ" id="dist_req_check" class="dist_req_li test"><a href="" title="Mathematical and Quantitative Thought" class="dist_req_text">MQRQ</a><br>
		</td>
		<td>
		    <input type="checkbox" value="NSRQ" id="dist_req_check" class="dist_req_li test"><a href="" title="Natural Science" class="dist_req_text">NSRQ</a><br>
			<input type="checkbox" value="PRRQ" id="dist_req_check" class="dist_req_li test"><a href="" title="Philosophical and Religious Perspectives" class="dist_req_text">PRRQ</a><br>
			<input type="checkbox" value="SSRQ" id="dist_req_check" class="dist_req_li test"><a href="" title="Social-Scientific Thought" class="dist_req_text">SSRQ</a><br>
			<input type="checkbox" value="VPRQ" id="dist_req_check" class="dist_req_li test"><a href="" title="Visual and Performing Arts" class="dist_req_text">VPRQ</a><br>
		</td>
	</table>
    <p id="class_size">Class Size<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" class="down_arrow" id="down_arrow_class_size"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png" class="side_arrow" id="side_arrow_class_size"></p>
    <ul id="class_size_list">
      <li class="class_size_li"><input type="checkbox">0 - 6</li>
      <li class="class_size_li"><input type="checkbox">6 - 12</li>
      <li class="class_size_li"><input type="checkbox">12 - 20</li>
      <li class="class_size_li"><input type="checkbox">20 +</li>
    </ul>
    <input type="text" id="dep" name="dep" value="" hidden>
    <input type="text" id="period" name="period" value="" hidden>
    <input type="text" id="prof_form" name="prof_form" value="" hidden>
    <input type="text" id="days" name="days" value="" hidden>
    <input type="text" id="times" name="times" value="" hidden>
    <input type="text" id="distri" name="distri" value="" hidden>
    <input type="submit" onclick="createQueryStr()" value="Apply">
	</form>
  </div>
  </div>
  
  <div id="specific_search" style="height:700px;overflow:scroll">
    <h4>Search by subject and course number:</h4>
  		<h5>Ex: MUS 101</h5>
   <div id="users">
     <div id="search_box">
  		<input class="search" placeholder="Search" />
  
  		<div class="dropdown">
  			<button class="dropbtn">Sort By:</button>
  			<div class="dropdown-content">
				<p class="sort" data-sort="professor">
    			A to Z by Professor
  				</p>
  				<p class="sort" data-sort="name">
    			A to Z by Department
  				</p>
    			<p class="sort" data-sort="number">
    			By Class Number
  				</p>
  			</div>
		</div>
     </div>
	</div>
	
  <ul class="result_list">	
	{% for i in search_results %} 
	<li>
  	<table>
		<tr>
			<td class="dept_num_td">{{i[0]}}</td>
			<td class="title_td">{{i[1]}}</td>
			<td class="prof_td">{{i[2]}}</td>
			<td class="time_td">{{i[3]}}</td>
			<td class="day_td">{{i[4]}}</td>
			<td class="dist_td">{{i[5]}}</td>
			<td class="bldg_td">{{i[6]}}</td>
			<td class="visit_td">{{i[7]}}</td>
			<td class="syl_td">{{i[8]}}</td>
		</tr>	
	
	</table>	
	</li>
	{% endfor %}
  </ul>
<!--
  <ul class="pagination">
  <li><a href="#">«</a></li>
  <li id="1"><a class="active" href="#" onclick="change_page()">1</a></li>
  <li id="2" class="page"><a href="#">2</a></li>
  <li id="3" class="page"><a href="#">3</a></li>
  <li id="4" class="page"><a href="#">4</a></li>
  <li id="5" class="page"><a href="#">5</a></li>
  <li id="6" class="page"><a href="#">6</a></li>
  <li id="7" class="page"><a href="#">7</a></li>
  <li id="8" class="page"><a href="#">8</a></li>
  <li><a href="#">»</a></li>
</ul>
-->


</div>
</body>
</html>
